<section class="our-work">
  <h3 class="title">Recent Projects</h3>
  <hr>
  <div class="row columns">
    <div class="column is-6">
      <div class="card large">
        <div class="card-image">
          <figure class="image">
            <img class="projectPic" src="https://javier-enriquez.000webhostapp.com/FWTMock2.jpg" alt="Image" />
          </figure>
        </div>
        <div class="card-content">
          <p class="">FunWithTwitch</p>
          <div class="buttons has-addons center">
            <span class="button">Overview</span>
            <span class="button">Stack</span>
            <span class="button">Demo</span>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic
            beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet
            inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae
            magnam animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur
            ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit
            beatae magnam animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam
            tenetur ad amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore
            reprehenderit beatae magnam animi!
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="card large">
        <div class="card-image">
          <figure class="image">
            <img class="projectPic" src="https://javier-enriquez.000webhostapp.com/sys_architecture_v3.png
            " alt="Image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="buttons has-addons">
            <span class="button">Yes</span>
            <span class="button">Maybe</span>
            <span class="button">No</span>
          </div>
          <div class="content box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad amet inventore hic
            beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore reprehenderit beatae magnam animi!
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>